.Bulls {
  text-align: center;
}

table{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
}

th, td {
  width: 30%;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

caption {
  caption-side: bottom;
  font-size: 20px;
  margin: 2%;
}

input {
  font-size: 25px;
  text-align: center;
  width: 50%;
}